html, body, h1, h2, h3, input, button, ul, li, a { 
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}
nav #logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav #logo #hamburger{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav #logo #hamburger i {
    color: #606060;
}
nav #logo:hover {
    cursor: pointer;
}
nav #search_bar {
    width: 45%;
    display: flex;
    justify-content: center;
}
nav #search_bar #search_field {
    border: 0.5px solid gray;
    width: 90%;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
}
nav #search_bar #search_button {
    width: 10%;
    height: 30px;
    border: 0.5px solid gray; 
    border-left: none;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav #search_bar #search_button i{
    color: #888383;
}
nav #search_bar #search_button:hover{
    cursor: pointer;
} 

nav #avatars_icons {
    display: flex;
    justify-content: space-between;  
    align-items: center;               
}

nav #avatars_icons .icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}
nav #avatars_icons .icon i {
    color: #606060;
}
/* nav #avatars_icons .avatar {
    border-radius: 50%;
    border: 0.5px solid gray;
    width: 35px;
    height: 35px;
} */
/* nav #avatars_icons .avatar img {
    width: 95%;
    height: 95%;
    display: block;
} */


/*
    Body
*/
#content {
    background: #F9F9F9;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

/*
    Main content (Left section)
*/
main {
    width: 57%;
}
main #playing_video {
    /*produces 16:9 aspect ratio for the iframe
    and the height of #playing_video changes based on the width of the iframe*/
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
main #playing_video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
main #video_detail {
    display: flex;
    flex-direction: column;
    padding: 20px 0 8px 0;
    border-bottom: 1px solid #c5c1c1;
}

main #video_detail #view_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
main #video_detail #view_detail #view_num {
    display: flex;
    justify-content: right;
}

main #video_detail #view_detail #view_num p{
    padding-right: 10px;
    color: #697A87;
}
main #video_detail #view_detail #reactions{
    display: flex;
    justify-content: left;
}
main #video_detail #view_detail #reactions .icon{
    padding-left: 20px;
}
main #video_detail #view_detail #reactions .icon {
    color: #606060;
}
